html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Remove a rolagem horizontal */
  width: 100%; /* Garante que o corpo ocupa 100% da largura */
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
