.header {
  display: flex;
  margin: 0;
  padding-bottom: 1.25rem; /* 20px */
  padding-top: 1.25rem; /* 20px */
  justify-content: space-between;
  align-items: center;
  background-color: #f1f2ef;
  min-width: 70rem;
}

.header div {
  padding-left: 1.875rem; /* 30px */
  padding-right: 1.875rem; /* 30px */
}

.header img {
  width: 1.875rem; /* 30px */
}

.header ul {
  display: flex;
  list-style-type: none;
  gap: 1.875rem; /* 30px */
}

.header ul li {
  font-size: -1rem; /* Mantém o tamanho padrão da fonte (16px) */
  white-space: nowrap;
  margin-right: 0.625rem; /* 10px */
  cursor: pointer;
}

.header ul li a {
  color: #354733;
  text-decoration: none;
}

.header .activeLink {
  color: #8a9b6e;
}
