.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f2ef;
  padding: 1rem;
  position: relative;
}

.header img {
  width: 3rem;
}

.nav {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 1.875rem;
}

.nav ul li {
  font-size: 1rem;
  white-space: nowrap;
  cursor: pointer;
  color: #354733;
}

.nav ul li a {
  color: #354733;
  text-decoration: none;
  transition: 0.5s ease;
}

.nav a:hover {
  color: #8a9b6e;
}

.header .activeLink {
  color: #8a9b6e;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.activeLink {
  color: #8a9b6e;
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }

  .nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f1f2ef;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: 0.5s ease;
  }

  .nav.open {
    display: flex;
  }

  .nav ul {
    flex-direction: column;
    gap: 1rem;
  }

  .nav ul li {
    text-align: center;
  }
  .nav ul li a {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
