.header {
  display: flex;
  margin: 0;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f2ef;
  min-width: 70rem;
}

.header div {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.header img {
  width: 3rem;
}

.header ul {
  display: flex;
  list-style-type: none;
  gap: 1.875rem;
}

.header ul li {
  font-size: -1rem;
  white-space: nowrap;
  margin-right: 0.625rem;
  cursor: pointer;
}

.header ul li a {
  color: #354733;
  text-decoration: none;
}

.header .activeLink {
  color: #8a9b6e;
}
