.button {
  background-color: #354733;
  font-size: 1rem;
  font-family: 'Raleway-regular';
  color: #fff;
  padding: 1.5rem 3.8rem 1.5rem 3.8rem;
  border: none;
}

.button:hover {
  background-color: #222c20;
  transition: ease-in 0.3s;
  cursor: pointer;
}

@media (max-width: 480px) {
  .button {
    font-size: 0.7rem;
    white-space: nowrap;
    padding: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .button {
    font-size: 0.7rem;
    white-space: nowrap;
    padding: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
