@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  background-color: #f0f1ee;
  height: calc(100vh - 5.2rem);
}
.loader {
  animation: rotate 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  margin-left: -1.5rem;
  color: #354733;
}

@media (max-width: 768px) {
  .loader {
    font-size: 2.5rem; /* Reduz o tamanho do loader */
  }
}

/* Responsividade para telas menores que 480px (dispositivos móveis) */
@media (max-width: 480px) {
  .loader {
    font-size: 2rem; /* Reduz ainda mais o tamanho do loader */
  }
}