.container {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  min-width: 70rem;

  background-color: #f1f2ef;
}

.devs {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .container {
    min-width: 100%; 
    gap: 2rem; 
  }

  .devs {
    gap: 2rem; 
  }
}

@media (max-width: 768px) {
  .container {
    min-width: 100%; 
    padding: 1rem; 
  }

  .devs {
    gap: 1.5rem; 
  }
}

@media (max-width: 480px) {
  .container {
    min-width: 100%; 
    padding: 1rem; 
    gap: 1rem; 
  }

  .devs {
    gap: 1rem; 
  }
}