.container {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  min-width: 70rem;

  background-color: #f1f2ef;
}

.devs {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
