.outdoor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  padding-bottom: 2rem;
  margin: 0;
  min-height: 100vh;
  background-color: #fcfcfc;
  overflow: hidden;
}

.cardsContainer {
  display: flex;
  margin: 0;
  width: 90%;
  justify-content:space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.imgCardsContainer {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  gap: 8.2rem;
}

.imgCardsContainer div {
  width: 20rem;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  flex-grow: 1;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.imgCardsContainer div img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.card3 {
  box-shadow: none !important;
}
.cardTxt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-height: 50rem;
  line-height: 1.8;
  font-size: 0.957rem;
  color: #87897d;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.cardTxt::-webkit-scrollbar {
  width: 0.5rem;
}

.cardTxt::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 0.25rem;
}

.cardTxt::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.cardImg {
  height: 30%;
  display: flex;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 1.2rem;
}

.cardBtn button {
  margin-top: 1rem;
  margin-bottom: 2rem;
}


@media (max-width: 1024px) {
  .imgCardsContainer {
    justify-content: center;
    margin: 0 2rem;  
    gap: 2rem;  
  }

  .imgCardsContainer div {
    width: 18rem;  
    height: auto;
  }

  .imgCardsContainer div img {
    height: 12rem; /* Definindo altura fixa para imagens em tablets */
  }

  .cardTxt {
    font-size: 0.9rem;  
  }

  .cardImg {
    height: 35%;  
  }
}

@media (max-width: 768px) {
  .cardsContainer{
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;

  }

  .imgCardsContainer{
    flex-direction: column;
    width: 90%;
    display: flex;
    justify-content: center; 
  }


  .imgCardsContainer div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .imgCardsContainer div img {
    width: 100%;   
    height: auto;  
    object-fit: cover; 
  }


  .cardTxt {
    font-size: 0.8rem;  /* Ajusta o tamanho da fonte */
    
  }

  .cardBtn button {
    width: 100%;
   
  }
}

@media (max-width: 480px) {

  .cardsContainer{
    flex-direction: column;
  }

  .imgCardsContainer{
    flex-direction: column;
    
  }

  .imgCardsContainer div img {
    width: 100%;
    height: auto;
    
  }

  .cardTxt {
    font-size: 0.8rem;  /* Ajusta o tamanho da fonte */
    
  }

  .cardBtn button {
    width: 100%;
   
  }
}