.container {
  padding: 0;
  display: flex;
  align-items: space-around;
  width: 100%;
  height: auto;
  margin: 0;
  min-width: 100%;
  max-width: 100%;
  background-color: #f1f2ef;
  overflow: hidden;
}

.container h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.sales {
  margin-left: 1%;
  overflow-x: hidden;
  overflow: hidden;
}

.text {
  justify-content: center;
  display: flex;
  margin-bottom: 5rem;
}

@media (max-width: 1024px) {
  .container {
    min-width: auto; 
    padding: 0 2rem;  
  }

  .sales {
    margin-left: 2rem; 
  }

  .text {
    margin-bottom: 3rem;  
  }

  .container h1 {
    margin-top: 1rem; 
    margin-bottom: 2rem; 
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; 
    justify-content: flex-start;  
  }

  .sales {
    margin-left: 0;  
  }

  .text {
    margin-bottom: 2rem; 
  }

  .container h1 {
    font-size: 1.5rem; 
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 480px){
  .container {
    padding: 2rem;  
  }

  .container h1 {
    font-size: 2rem;  
    margin-bottom: 2rem;  
  }

  .sales {
    margin-left: 0;
  }
}