.container {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height:auto;
  margin: 0;
  min-width: 100%;
  max-width: 100%;
  align-items: center;
  background-color: #f1f2ef;
  overflow: hidden;
}

.contentContainer {
  height: fit-content;
  padding: 3rem;
  display: flex;
  align-items: center;
  margin: 0;
  gap: 2.2rem;
  width: fit-content;
  cursor: pointer;
  color: #354733;
  text-decoration: none;
}

.container:visited {
  color: #354733; /* Remove a cor roxa após clicar */
}

.container:active {
  color: #354733; /* Remove a cor vermelha ao clicar */
}

@keyframes highlighted {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.list li {
  transition: ease-in-out 0.6s;
}
.list li:hover {
  scale: 1.1;
}

.cardBody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 30rem;
  width: 20rem;
  background-color: none;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
}

.imgContainer {
  overflow: hidden;
  display: flex;
  align-items: start;
  height: 70%;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardBody p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none !important;
}

.label {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.button button {
  width: 100%;
}

@media screen and (max-width: 480px){
  .container {
    padding: 1rem;  
  }

  .container h1 {
    font-size: 2rem;  
    margin-bottom: 2rem;  
  }

  .sales {
    margin-left: 0;
  }
}
