.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f2ef;
  min-width: 70rem;
}

.contentContainer {
  height: fit-content;
  padding: 3rem;
  display: flex;
  align-items: center;
  margin: 0;
  gap: 2.2rem;
  width: fit-content;
  cursor: pointer;
  color: #354733;
  text-decoration: none;
}

.container:visited {
  color: #354733;
}

.container:active {
  color: #354733;
}

@keyframes highlighted {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.list li {
  transition: ease-in-out 0.6s;
}
.list li:hover {
  scale: 1.1;
}

.cardBody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 30rem;
  width: 20rem;
  background-color: none;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
}

.imgContainer {
  overflow: hidden;
  display: flex;
  align-items: start;
  height: 70%;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardBody p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none !important;
}

.label {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.button button {
  width: 100%;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin: 1.25rem 0;
  align-items: center;
}

.searchBar {
  width: 25rem;
  padding: 0.625rem 0.9375rem;
  font-size: 1rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  outline: none;
  transition: 0.5s ease;
}

.searchBar:focus {
  border-color: #8a9b6e;
  box-shadow: 0 0 0.3125rem rgba(34, 107, 67, 0.5);
}

.searchBar:hover {
  box-shadow: 0 0 0.3125rem rgba(34, 107, 67, 0.5);
}
.filterGroup {
  display: flex;

  justify-content: space-around;
  width: 100%;
}

.filterGroup label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Pacifico-Regular';
  color: #354733;
  transition: color 0.3s ease;
}

.filterGroup label:hover {
  color: #8a9b6e;
}

/* Botões de rádio */
.filterGroup input[type='radio'] {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border: 0.125rem solid #ccc;
  border-radius: 0;
  appearance: none;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.filterGroup input[type='radio']:checked {
  background-color: #8a9b6e;
  border-color: #8a9b6e;
}
.text {
  overflow: hidden;
}
@media (max-width: 480px) {
  .container {
    height: auto;
    min-width: 100%;
  }
  .searchBar {
    width: 100%;
    width: 15rem;
  }
  .cardBody {
    gap: 0rem;
    height: 16rem;
    width: 7rem;
  }
  .cardBody p {
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
  }
  .text {
    flex-grow: 1;
  }
  .label {
    display: none;
  }
  .contentContainer {
    padding: 0.5rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container {
    height: auto;
    min-width: 100%;
  }

  .searchBar {
    width: 100%;
    width: 15rem;
  }
  .cardBody {
    gap: 0rem;
    height: 16rem;
    width: 7rem;
  }
  .cardBody p {
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
  }
  .text {
    flex-grow: 1;
  }
  .label {
    display: none;
  }
  .contentContainer {
    padding: 0.5rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    height: auto;
    min-width: 100%;
  }
}
