.formContainer {
  width: 100%;
  height: 100vh;
  max-width: 28rem;
  background: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 6.5rem;
}
.formContainer button {
  border-radius: 0.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.formContainer label {
  font-family: 'Inter-semiBold';
}
.formContainer header h1 {
  color: #222c20;
  font-size: 1rem;
  padding-bottom: 1rem;
  font-family: 'Inter-semiBold';
}
.formContainer header hr {
  border: none;
  border-top: 0.1rem solid #d1d5db;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: 0.75rem;
  font-weight: bold;
}
.formGroup textarea {
  min-width: 100%;
  min-height: 5rem;
  max-height: 6rem;
}

.formGroup input,
.formGroup textarea,
.formGroup select {
  padding: 0.75rem;
  border: 0.122rem solid #d1d5db;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  font-size: 0.7rem;
  font-family: 'Inter-Semibold';
  outline: none;
  max-width: 100%;
}

.formGroup input:focus,
.formGroup textarea:focus,
.formGroup select:focus {
  border-color: #8a9b6e;
}
.formGroup input::placeholder,
.formGroup textarea::placeholder,
.formGroup select::placeholder {
  color: #d1d5db;
}

.submitBtn button {
  padding: 0.8rem 1.2rem;
  border-radius: 0.25rem;
  margin-top: 2rem;
  width: 100%;
}

.errorMessage {
  font-size: 0.7rem;
  color: #e53935;
  font-style: italic;
  font-family: 'Inter-Semibold';
}

.formRadioGroup {
  display: flex;
  gap: 1rem;
}

.formRadioGroup label {
  display: flex;
  gap: 0.2rem;
}

.prices {
  display: flex;
  gap: 1rem;
}
.prices div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.6rem;
}

/* Estilo básico do grupo de rádio */
.formRadioGroup {
  display: flex;
  gap: 1rem;
}

.formRadioGroup label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #d1d5db;
  cursor: pointer;
}

.radioInput + p {
  color: #b2b6bb;
  margin: 0;
}

.radioInput:checked + p {
  color: #000;
  font-weight: bold;
}
