.container {
  height: calc(100vh - 5.2rem);
  min-width: 100%;
  background-image: url('../../assets/images/1bg-image-home.png');
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;

}
