.container {
  height: auto;
  padding: 0;
  margin: 0;
  background-image: url('../../assets/images/2bg-image-home.png');
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  min-width: 100%;
}
.formContainer {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

@media (max-width: 480px) {
  .container {
    height: auto;
    min-width: 100%;
    background-image: url('../../assets/images/1bg-image-home.png');
  }
  .formContainer {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container {
    height: auto;
    min-width: 100%;
  }
  .formContainer {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 769px) and (max-width: 1400px) {
  .container {
    height: auto;
    min-width: 100%;
  }
  .formContainer {
    /* display: flex;
    justify-content: center; */
    padding-top: 0rem;
    padding-bottom: 1rem;
  }
}
